# dependencies
/node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env

# Mac system files
.DS_Store

# editor directories and files
.idea
.vscode
*.swp

# build directories
/dist
/build
